.profile {
    display: flex;
    height: 626px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .profile {
        height: 681px;
    }

}

@media screen and (max-width: 556px) {
    .profile {
        height: calc(100vh - 74px);
    }
}

.profile__container {
    margin-top: 74px;
}

@media screen and (max-width: 1023px) {
    .profile__container {
        margin-top: 236px;
    }
}

@media screen and (max-width: 556px) {
    .profile__container {
        margin-top: 70px;
    }
}

.profile__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 123px;
}

@media screen and (max-width: 1023px) {
    .profile__title {
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 556px) {
    .profile__title {
        margin-bottom: 80px;
    }
}

.profile__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 410px;
}

@media screen and (max-width: 556px) {
    .profile__field {
        min-width: 260px;
        width: 260px;
    }
}

.profile__label {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__border {
    min-width: 410px;
    border-bottom: solid 1px #424242;
    margin: 16px 0;
}

@media screen and (max-width: 556px) {
    .profile__border {
        min-width: 260px;
    }
}

.profile__input {
    text-align: right;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #202020;
    border: none;
}

.profile__container-utils {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 556px) {
    .profile__container-utils {
        margin-bottom: 40px;
    }
}

.profile__button-edit {
    border: none;
    margin-bottom: 16px;
    color: #FFF;
    background-color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__button-exit {
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #202020;
    border: none;
}

.popup__button-submit {
    width: 410px;
    height: 45px;
}

@media screen and (max-width: 556px) {
    .popup__button-submit {
        width: 260px;
    }
}