.not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__container {
    margin-top: 246px;
}

.not-found__title {
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.not-found__description {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px auto 184px;
}

.not-found__link {
    border: none;
    background-color: #202020;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}