.search {
    width: 100%;
    min-height: 247px;
    display: flex;
    flex-direction: column;
}

.search__container {
    width: calc(100% - 140px);
    margin: 60px 70px 0;
}

@media screen and (max-width: 1240px) {
    .search__container {
        width: calc(100% - 60px);
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 767px) {
    .search__container {
        width: calc(100% - 28px);
        margin: 80px 14px 0;
    }
}

.search__input {
    padding-left: 22px;
    width: calc(100% - 22px);
    color: #fff;
    min-height: 46px;
    border-radius: 40px;
    border: none;
    background: #2F2F2F;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .search__input {
        width: calc(100% - 19px);
    }
}

.search__form {
    position: relative;
}

.search__submit {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/find.svg');
    background-size: contain;
    position: absolute;
    top: 6px;
    right: 6px;
}

.search__border {
    width: 100%;
    border-bottom: solid #424242 1px;
    margin-top: 70px;
    margin-bottom: 10px;
}

@media screen and (max-width: 769px) {
    .search__border {
        margin-top: 50px;
    }
}